.wp_kb_articles-toc {
  position: relative;
  width: 20%;
  float: right;
  box-sizing: border-box;
  margin: 0 0 1.5em 1.5em;
  padding: 1.5em;
  border-radius: .35em;
  background: #F5F5F5;
  border: 1px solid #E3E3E3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  font-size: 80%;
}
.wp_kb_articles-toc::after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 1199px) {
  .wp_kb_articles-toc {
    display: none;
  }
}
.wp_kb_articles-toc > .-title {
  padding: 0;
  margin: 0 0 .5em 0;
  color: #787878;
}
.wp_kb_articles-toc > .-list ul, .wp_kb_articles-toc > .-list ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wp_kb_articles-toc > .-list ul > li {
  font-size: 90%;
  margin: .5em 0 0 1em;
}
.wp_kb_articles-toc > .-list ul > li::before {
  content: '\f105';
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin: 0 0 0 -1.5em;
  width: 1.28571429em;
  text-align: center;
  color: #9B9B9B;
}
.wp_kb_articles-toc > .-list ul > li > a {
  display: block;
  text-decoration: none;
  border: 0;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wp_kb_articles-toc > .-list > ul > li {
  font-size: 100%;
}
.wp_kb_articles-toc > .-list > ul > li::before {
  color: #727272;
}
.wp_kb_articles-toc > .-list > ul > li:first-child {
  margin-top: 0;
}
